VITE_API_BASE_URL=/api
VITE_API_TIMEOUT_MS=60000
VITE_ADMIN_URL=http://127.0.0.1:5300
VITE_AUTH_TOKEN_STORAGE_KEY=kingcom.authToken
VITE_DEV_HOST=127.0.0.1
VITE_DEV_PORT=5301
VITE_DEV_API_PROXY=http://127.0.0.1:5088
VITE_DEV_API_PROXY_SECURE=false
VITE_DEV_HARAVAN_PROXY=https://apis.haravan.com
VITE_DEV_HARAVAN_PROXY_SECURE=true
